URL: https://www.handbook.unsw.edu.au/undergraduate/courses/2026/SENG2021

Handbook - Requirements and Design Workshop


Handbook - Requirements and Design Workshop

Course
print
Print Requirements and Design Workshop page
_border
Requirements and Design Workshop
SENG2021
6 Units of Credit
You are viewing the 2026 version
2026
keyboard_arrow_down
info
Select the relevant year of handbook information you wish to view.
Overview
Conditions for Enrolment
Exclusion Courses
Delivery
Overview
This course is the first of the workshops series that are a key feature of the Software Engineering degree. These workshops are designed to teach students to work in teams (or groups) using agile methods and apply their theoretical knowledge to solve real-life problems. Building on foundational Software Engineering principles… For more content click the Read More button below.
This course is the first of the workshops series that are a key feature of the Software Engineering degree. These workshops are designed to teach students to work in teams (or groups) using agile methods and apply their theoretical knowledge to solve real-life problems. Building on foundational Software Engineering principles of first year core course COMP1531, this workshop focuses on the processes of designing and building components (APIs) of a large software application.
This workshop will offer students the opportunity to get practical experience on the activities of analysing software requirements and producing design artifacts as well as use collaborative techniques and tools to support these processes. In addition, it aims to provide students with teamwork skills and software design techniques that an engineer would use in the development process. The students will also be getting experience on different aspects of designing and developing an API microservice and a web-based application. The requirements for this course have been determined in collaboration with industry partners and will relate to developing a realistic application. The course has a number of industry sponsors that include Nine and Macquarie Bank.
Read More
about Overview
Conditions for Enrolment
Prerequisite:  SENG1031 or COMP1531, and enrolment in a BE or BE(Hons) Software Engineering major.
Exclusion Courses
open_in_new
Course
SENG2020
SENG2020 - Software Engineering Workshop 2B
Delivery
Expand all
In-person - Standard (usually weekly or fortnightly)
keyboard_arrow_down
Delivery Mode
In-person
Delivery Format
Standard (usually weekly or fortnightly)
Indicative Contact Hours
3
Multimodal - Standard (usually weekly or fortnightly)
keyboard_arrow_down
Delivery Mode
Multimodal
Delivery Format
Standard (usually weekly or fortnightly)
Indicative Contact Hours
2
Please note that the above delivery information is an indication on how this course may be delivered within the year.  Delivery mode(s) for each term can be viewed on other sources such as
myUNSW
and
class timetable
site.
This Handbook is a comprehensive catalogue of our offerings and includes courses that can be taken to satisfy program requirements irrespective as to their availability for a particular year. Availability of courses is best checked using filters on this site or on the
class timetable
site.
Pre-2019 Handbook Editions
Access past handbook editions (2018 and prior)
open_in_new
Pre-2019 Handbook Editions
Faculty
info
Faculty: The primary academic unit in which related disciplines of teaching and research are conducted.
Faculty of Engineering
School
info
School: The academic unit responsible for teaching in disciplines or subject areas (school is part of a faculty).
School of Computer Science and Engineering
Study Level
info
Study Level refers to the academic level of a program, specialisation or course.
Undergraduate
Offering Terms
info
Depending on the Academic Calendar type, an offering term generally refers to an academic teaching period of between 8-13 weeks in duration.
Term 1
Campus
Sydney
Academic Calendar
3+
info
Consists of three standard terms, each with ten weeks teaching, and an optional five week summer term.  Some programs in Medicine, AGSM, and UNSW Global have different term dates.  See the university website for details.
Field of Education
020103 Programming
Timetable
Visit timetable website for details
Course Outline
info
This link will take you to UNSW Course Outline website that is first released for all faculties for 2024 academic year. Note that the Handbook publishes course information regardless of whether the course is offered (and therefore has a course outline available), or not.
Visit Course Outline website
open_in_new
Fees Information
Search UNSW fees and related policies
open_in_new
Credit Transfer
Information on credit transfer, or recognition of prior learning, at UNSW Sydney, including any formal articulation or credit arrangements that relate to specific coursework programs.
open_in_new
Apply Online
Some programs require application via the Universities Admissions Centre (UAC) depending on study level, applicant's residency etc. Please check the "Can I apply online?" section on the Apply Online page to confirm whether to apply via the UNSW Apply Online service or through the UAC